
.dp_address-window {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px auto;
    height: 470px;
    width: 400px;
    padding: 5px;
    margin: 20px auto;
    align-self: flex-start; 
    background-color: grey;
    border-radius: 20px;
    
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.dp_adress-window__header {
    align-self: center;
    justify-self: start;
    white-space: nowrap;
    font-size: 30px;
    padding-left: 2%;
}


.dp_form-window {
    display: grid;
    grid-template-rows: var(--grid-rows, repeat(1, 250px));
    padding-left: 1%;
    padding-right: 1%;
    gap: 10px;
    
}

.dp_hidden-form-window {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 100%;
    padding-left: 1%;
    padding-right: 1%;
    gap: 10px;
    color: blue;
}

.dp_address_inputs {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px ;
    padding-left: 1%;
    padding-right: 1%;
    gap: 10px;
}

.dp_submit-address {
    height: 80%;
    width: 100%;
    border-radius: 8px;
    visibility: inherit;
    justify-self: center;
    align-self: center;
}

.dp_another-address {
    height: 90%;
    width: 100%;
    border-radius: 8px;
    visibility: inherit;
    justify-self: center;
    align-self: center;
}



.dp_adress::placeholder {
    font-size: 18px;
    font-weight: 100;
    
    justify-self: center;
}

.dp_adress {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 18px;
    padding-left: 1%;
}