.header-div {
    border:2px solid black;
    display: flex;
    background-color: #1d4e89;
    height: 10vh;
    justify-content: space-between;
    

}



.logo {
    margin-left: 1%;
    width: 5%;
    align-self: unset;
}

.text {
    align-self: center;
    font-size: clamp(1em, 2.5vw, 4em);
}

.end-group {
    gap: 12%;
    display: flex;
    align-self: center;
}


.btn {
    height: 5vh;
    background-color: aqua;
    border-radius: 10px;
    font-weight: bolder;
}

.signup {
    width: 5vw;
}

.login {
    width: 5vw;
    margin-right: 3%;
}