@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Protest+Revolution&display=swap');

.header-div {
    
    display: flex;
    background-color: #ffffff;
    height: 80px;
    
    box-shadow: 0 1px 0.125rem 0 rgba(0, 0, 0, 0.13);

    justify-content: space-between;
    

}



.logo {
    margin-left: 1%;
    height: auto;
    padding-bottom: 4px;
    align-self: unset;
}

.text {
    margin-left: 5%;
    font-family: "Protest Revolution", 'Times New Roman', Times, serif;
    color: black;
    white-space: nowrap;
    align-self: center;
    font-size: 40px;
}

.end-group {
    gap: 12%;
    display: flex;
    align-self: center;
}


.btn {
    height: 40px;
    background-color: aqua;
    border-radius: 10px;
    font-weight: bolder;
}

.signup {
    width: 80px;
    white-space: nowrap;
}

.login {
    width: 80px;
    margin-right: 3%;
}