

.landing-page {
    margin: 0;
   
}


h1 {
    text-align: center;
    color: aliceblue;
}


.main {
    display: flex;
    height:75vh ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    justify-content: center;
    background-image: url("./../../../public/kebab-bg.jpg");

    background-origin: padding-box;
    background-size: cover;
    background-position: top;
    background-color:#ecf0f1;
    opacity: 0.7;
    
}
/*
.main, .delivery-window, .delivery-methods-container, .delivery-method {
    border: 2px solid black;
}*/

.delivery-window {
    width: 30vw;
    height: 50vh;
    display: grid;
    grid-template-rows: 20% 75%;
    grid-template-columns: 97%;
    justify-items: space-between;
    align-self: center;
   background-color: #ffffff;
    border-radius: 20px;
    
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.delivery-methods-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100%;
    gap: 10%;
}

.delivery-method {
    width: 100%;
    height: auto;
    color: rgb(134, 134, 212);
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 100%;
    padding: 0;
    font-size: 32px;
    border: none;
    background-color: transparent;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}   

.delivery-method.pickup {
    margin-right: 0px;
    
}

.delivery-method.pickup:active {
    padding: 1%;
}

.delivery-method.pickup:hover {
    filter: brightness(80%);
}


.pickup-text {
    background-color: #cf0000;
    color: black;
    font-size: clamp(1em, 2.5vw, 4em);
    padding-top: 5%;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pickup-img {
    background-color: #cf0000;
    padding-top: 5%;
    height: 70%;
    width: 100%;
    object-fit: contain;
    justify-self: center;
    padding-bottom: 40%;
    
}

.delivery-method.delivery {
   margin-left: 15px;
    
    
}

.delivery-method.delivery:active {
    padding: 1%;
}

.delivery-method.delivery:hover {
    filter: brightness(80%);
}



.delivery-text {
    background-color: #175f92;
    color: black;
    font-size: clamp(1em, 2.5vw, 4em);
    padding-top: 5%;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.delivery-img {
    background-color: #175f92;
    height: 70%;
    width: 100%;
    padding-top: 5%;
    object-fit: contain;
    justify-self: center;
    padding-bottom: 40%;
}

.delivery-window-title {
    align-self: center;
    font-size: 4vh;
    color: black;
    
}

.delivery-next-img {
    padding-top: 1%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #09273c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 1%;
}

.pickup-next-img {
    padding-top: 1%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #950000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 1%;
}