

.landing-page {
    margin: 0;
   
}


h1 {
    text-align: center;
    color: aliceblue;
}


.lp__main {
    display: flex;
    min-height:calc(100vh - 80px - 170px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    background-image: url("./../../../public/kebab-bg.jpg");
    background-origin: padding-box;
    background-size: cover;
    background-position: top;
    background-color:#ecf0f1;
    opacity: 0.7;
    
}


.lp__order-window {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-rows: 20% 75%;
    grid-template-columns: 97%;
    justify-items: space-between;
    align-self: center;
   background-color: #ffffff;
    border-radius: 20px;
    
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.lp__order-window__header {
    align-self: center;
    font-size: 32px;
    color: black;
    
}


.lp__ordering-methods__container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 98%;
    gap: 10%;
}

.lp__order-method {
    width: 100%;
    height: auto;
    color: rgb(134, 134, 212);
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 100%;
    padding: 0;
    font-size: 32px;
    border: none;
    background-color: transparent;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}   

.lp__order-method.delivery {
    margin-left: 15px;
 }
 
 .lp__order-method.delivery:active {
     padding: 1%;
 }
 
 .lp__order-method.delivery:hover {
     filter: brightness(80%);
     cursor: pointer;
 }
 
 
 
 .lp__method-delivery__text {
     background-color: #175f92;
     color: white;
     font-size: 2.62rem;
     padding-top: 5%;
     height: 100%;
     width: 100%;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }
 
 .lp__method-delivery__img {
     background-color: #175f92;
     height: 70%;
     width: 100%;
     padding-top: 5%;
     object-fit: contain;
     justify-self: center;
     padding-bottom: 40%;
 }
 
 
 .lp__delivery-continue {
    background-color: #09273c;

 }
 


.lp__order-method.pickup {
    margin-right: 0px;
    
}

.lp__order-method.pickup:active {
    padding: 1%;
}

.lp__order-method.pickup:hover {
    filter: brightness(80%);
    cursor: pointer;
}


.lp__method-pickup__text {
    background-color: #cf0000;
    color: white;
    font-size: 2.62rem;
    padding-top: 5%;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lp__method-pickup__img {
    background-color: #cf0000;
    padding-top: 5%;
    height: 70%;
    width: 100%;
    object-fit: contain;
    justify-self: center;
    padding-bottom: 40%;
    
}

.lp__pickup-continue {
    background-color: #950000;
    
}


.lp_icon {
    justify-self: center;
    padding-top: 5%;
    height: 80%;
    align-items: center;
    width: 100%;
    object-fit:contain;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5%;
}